* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    max-width: 1900px;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    overflow-y: auto;
    max-width: 1920px;
}

body.modal-open {
    overflow: hidden;
}

.main-section{
display: flex;
justify-content: center;
align-items: center;  
flex-direction: column;  
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 15px 20px;
    background-color: #ffcc00;
    border-bottom: 2px solid #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 50px;
    cursor: pointer;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.type-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 8px;
    background-color: bisque;
}

.type-button {
    border: none;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 35px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
}

.card {
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.card p {
    font-size: 14px;
    opacity: 0.8;
}

button {
    margin: 20px;
    padding: 12px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.load-more:hover {
    background-color: #e74c3c;
}

.button-section {
    
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.load-more,
#closeSearchButton {
    width: 90%;
    max-width: 300px;
}




